@model IEnumerable<ApiCobro.Models.Cobros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdRemoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdRuta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsNulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdRemoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdRuta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsNulo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCobro }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCobro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCobro })
        </td>
    </tr>
}

</table>
